body{
    background-color: turquoise;
}

div.boardlist{
    display: inline-flex;
}

div.header{
    text-align: center;
}

div.replies_header, .op_header{
    display: inline-flex;
    background-color: aqua;
}

p{
    margin: 2px;
}

.logo{
    text-align: center;
}

form table{
    margin:auto;
}

table{
    margin:auto;
}
form table tr th{
    text-align: left;
}

form table tr td{
    text-align: left;
    margin: 0;
    padding: 0;
}

img.minimized{
    max-width: 125px;
    height: auto;
}

img.maximized{
    max-width: 100%;
    height: auto;
}

.replies_content{
    display: block;
    padding: 1em;
}

.post_images{
    float: left;
    cursor: pointer;
}

.replies{
    background-color: aquamarine;
    margin: 0.5em;
    display:table;
}

.op{
    display: table;
}
