div.boardlist{
    display: inline-flex;
}

div.header{
    text-align: center;
}

div.post_header{
    display: inline-flex;
    background-color: aqua;
}

p{
    margin: 2px;
}

.logo{
    text-align: center;
}

.new_thread{
    display:list-item;
}