body{
    background-color: turquoise;
}

div.boardlist{
    display: inline-flex;
}

div.header{
    text-align: center;
}

div.post_header{
    display: inline-flex;
    background-color: aqua;
}

p{
    margin: 2px;
}

.logo{
    text-align: center;
}

.new_thread{
    display:list-item;
}

img.minimized{
    width: 150px;
}
.content{
    display: block;
    padding: 1em;
}

.post-images{
    float: left;
}

.post{
    background-color: aquamarine;
    margin: 0.5em;
    display:table;
}

.op{
    display: table;
}