<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <div class="boardlist">
        {% for board in boards %}
            <a href="/boards/{{board.acronym}}"><p title="{{board.name}}"> {{board.acronym}} </p></a>

        {% endfor %}
    </div>
    
    <div class='logo'>
        <a href="{{ url_for('showIndex') }}"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo"></a>
        <h1>FlaskChan</h1>
    </div>
    <div class='header'> 
        {% block header %} {% endblock %}
    </div>
    
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>