{% extends 'base.html' %}

{% block header %}
    <title>FlaskChan - {{ current_board.acronym }} - {{ current_board.name }}</title>
    <h3>{{ current_board.name }} - {{ current_board.description }}</h3>
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="flash">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="new-thread">
        <form action="{{ url_for('boardView', acronym=current_board.acronym)}}" method="POST" enctype=multipart/form-data>
            <table>
                <tbody>
                    <tr>
                        <th>
                            Nom
                        </th>
                        <td>
                            <input type="text" name="name" id="name">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Sujet
                        </th>
                        <td>
                            <input type="text" name="subject" id="subject">
                            <input type="submit" value="Nouveau Fil">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Contenu
                        </th>
                        <td>
                            <textarea name="content" id="content" required></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Image
                        </th>
                        <td>
                            <input type="file" name="image" accept=".png,.jpg,.jpeg" required>
                        </td>
                    </tr>
                    
                </tbody>   
            </table>
        </form>
    </div>
    {% for post in posts %}
        <div class="op">
            <div class="op_header">
                <p>{{post.subject}}</p>
                <p>{{post.name}}</p>
                <p>{{post.date}}</p>
                <p>No.{{post.id}}</p>
                <a href=" {{ url_for('threadView', acronym=current_board.acronym, thread_id=post.id) }}">Voir le fil</a>
            </div>
            <div class="op_content">
                <img src="{{ url_for('static', filename='uploads/' ~ post.image) }}" alt="uploaded image" class='post_images minimized'>
                <p>{{post.content}}</p>
            </div>
        </div>
        {% for reply in post.previews %}
            <div class="replies">
                <div class="replies_header">
                    <p>{{reply.subject}}</p>
                    <p>{{reply.name}}</p>
                    <p>{{reply.date}}</p>
                    <p>No.{{reply.id}}</p>
                </div>
                <div class="replies_content">
                    {% if reply.image %}
                        <img src="{{ url_for('static', filename='uploads/' ~ reply.image) }}" alt="uploaded image" class='post_images minimized'>
                    {% endif %}
                    <p>{{reply.content}}</p>
                </div>
            </div>
        {% endfor %}
    {% endfor %}    

{% endblock body %}