{% extends 'base.html' %}

{% block header %}
    <title>FlaskChan - {{ op.id }} {% if op.subject %}- {{ op.subject }}{% endif %}- {{ current_board.name }}</title>
    <h3>{{ current_board.name }} - {{ current_board.description }}</h3>
{% endblock %}

{% block body %}
    <div class="reply_to_thread">
        <form action="{{ url_for('threadView', acronym=current_board.acronym, thread_id=op.id)}}" method="POST">
            <label for="name">Nom</label>
            <input type="text" name="name" id="name">
            <label for="content">Contenu</label>
            <textarea name="content" id="content" required></textarea>
            <label for="image">Image</label>
            <input type="file" name="image" accept=".png,.jpg,.jpeg">
            <input type="submit" value="Répondre au fil">
        </form>
    </div>
    <div class="op">
        <div class="post_header">
            <p>No°{{op.id}}</p>
            <p>{{op.subject}}</p>
            <p>{{op.name}}</p>
            <p>{{op.date}}</p>
        </div>
        <div class="content">
            <img src="{{ url_for('static', filename='uploads/' ~ op.image) }}" alt="uploaded image" class='post-images minimized'>
            <p>{{op.content}}</p>
        </div>
    </div>
    <div class="replies">
        {% for post in posts %}
        <div class="post">
            <div class="post_header">
                <p>{{post.id}}</p>
                <p>{{post.subject}}</p>
                <p>{{post.name}}</p>
                <p>{{post.date}}</p>    
            </div>
            <div class="content">
                {% if post.image %}
                    <img src="{{ url_for('static', filename='uploads/' ~ post.image) }}" alt="uploaded image" class='post-images minimized'>
                {% endif %}
                <p>{{post.content}}</p>
            </div>
        </div>
    {% endfor %}  
    </div>
{% endblock %}